<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>






    <a href="/journal/new" class="btn btn-primary">Make New Article</a>


  

  


      <% articles.forEach(element => { %>
        <li>
            <%= element.title %>
        </li>
        <a href="">
            <%= element.title %>
        </a>

       
      <% }) %>




      <% pokemon.forEach(function(pokemon) { %>
        <div class="well">
          <h2><%= pokemon.name %></h2>
          


          <li>
            <%= element.description %>
        </li>
        <a href="">
            <%= element.title %>
        </a>


        </div>
      <% }); %>


</body>

</html>