<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">


</head>

<body>

    <a href="/dreams/new" class="btn btn-primary">Save New Dreams</a>
    <!-- the render "articles" from the grabArticles on the article.js 
will be display through the loop ejsEach -->
    <a href="/articles/new" class="btn btn-primary">Make New Article</a>
    <div class="container">
        <% articles.forEach(element=> { %>
            <div class="card mt-4">
                <div class="card-body">

                    <h4 class="card-title">
                        <%= element.title %>
                    </h4>

                    <p class="card-subtitle mb-2">
                        <%= element.date %>
                    </p>

                    <div class="card-text mb-2">
                        <%= element.description %>
                    </div>



                    <form action="/articles/<%= element.id %>?_method=DELETE" method="POST">
                        <button type="submit" class="btn btn-danger">Delete Article</button>

                    </form>

                <br>

                <form action="/articles/<%= element.id %>?_method=PUT" method="POST">
                    <button type="submit" class="btn btn-danger">Edit Article</button>

                </form>

                


                </div>



            </div>

            <% }) %>
    </div>



</body>

</html>